.list {
  align-items: center;
  text-align: center;
  align-content: space-evenly;
  width: calc(100% - 100px);
  margin-top: 10%;
  margin-left: 2%;
}

.buttons {
  color: white;
  font-size:20px;
  width: 10%;
}

.text {
  text-align: center;
}

.title {
  text-align: center;
}

.guessednum {
  text-align: center;
  margin-top: 3%;
  font-size: 50px;

}